h3 {
  color: rgb(107, 107, 244);
}

form,
h3 {
  display: flex;
  flex-direction: column;
  align-items: center;
}

button {
  margin-top: 10px;
  width: 100px;
  background-color: rgb(160, 160, 240);
}

body {
  background-color: rgb(37, 37, 60);
}
